<h1 class="title">dashboard</h1>

<div class="dashboard">
  <div class="chart">
    <h2>{{ response.title }}</h2>
    <app-overallChart [data]="data"></app-overallChart>
  </div>
  <div class="chart">
    <h2>impressions</h2>
    <app-chart [data]="data" label="impressions"></app-chart>
  </div>
  <div class="chart">
    <h2>clicks</h2>
    <app-chart [data]="data" label="clicks" color="#86c7f3"></app-chart>
  </div>

  <div class="chart">
    <h2>Cost</h2>
    <app-chart [data]="data" label="cost" color="#ffe29a"></app-chart>
  </div>
  <div class="chart">
    <h2>Conversions</h2>
    <app-chart [data]="data" label="conversions" color="#f1f2f4"></app-chart>
  </div>
</div>

app-chart
<!-- <table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Impressions</th>
      <th>Clicks</th>
      <th>Cost</th>
      <th>Conversions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.timestamp }}</td>
      <td>{{ item.impressions }}</td>
      <td>{{ item.clicks }}</td>
      <td>{{ item.cost }}</td>
      <td>{{ item.conversions }}</td>
    </tr>
  </tbody>
</table> -->
<!-- <div>HELLO WORLD</div> -->
